  <div id="top">发现</div>
  <div id="main">
    <div class="main-image">
      <div><img src="assets/img/book-02.jpg" ></div>
      <div>古人说：“书中自有黄金屋”。每当我读一本新书，获一份知识的时候，我心中的那种快乐是无法用语言表达的，
        正如培根所说;“知识是人类进步的阶梯。”一个教师，要想能够适应新的教育形势，就必须读书加以补足，况且，在竞争激烈的现代社会，
        没有一个渊博的大脑是不行的。读书让我们能够很好的乘上时代的风帆，才能够让自己的职业生辉。</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-03.jpg" ></div>
      <div>读书可以感悟人生，这个人生可以是自己的人生，可以是历史的沧桑。可以是天地的沉浮，可以是……；
        读书是一种德性，在理性的引导下，读书人在灿烂的星空与神圣的道德之间，获得了灵性和自由，以及诗意生存。
        读书是一种放达，在历史与现实的冲击下，读书人漠然于时间也漠然于空间，即使是惊鸿一瞥，也执掌起漫天光芒。</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-04.jpg" ></div>
      <div>读书之所以是一种乐趣，并不在于作者告诉你什么，而是因为读书使你积极思考。在作者的书里，
        你的想想在书里驰骋，你的思考有可能比作者的文笔更好，更详细这样一来你不仅从书中了解世界，体验作者的生活，
        你也会重新认识你自己。但是，只有诚信读书，读书才能成为一种乐趣。假如你因阅读而变得高尚、聪明、善良、文雅，读书就不再是一种负担!</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-05.jpg" ></div>
      <div>人们常说“开卷有益”。的确是这样，当你打开绚丽多彩的图书，你就起进了知识的大门。
        你便在知识的海洋中遨游。动人的小说，美妙的诗歌，感人的童话，精美的散文……都会让你难忘怀，给你无穷的欢乐。让你置身于新的世界——知识世界。
        书不仅是知识的宝库，而且是我们的良师益友，它能教我们怎样作文，怎样做人。在我们孤单时，它像大朋友一样安慰你。
        中国古时候有一位文学家说过：“读一本好书就仿佛和一位高尚的人谈话。”有疑难时，它会给我们解答;遇到困难时，它会帮助我们，给我们力量。</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-06.jpg" ></div>
      <div>打开一本书，就好像轻轻感受到淳淳杨柳风，扑面而来；就好像慢慢感受到蒙蒙杏花雨，从天而降；就似乎全新体验到浩浩竹林带给你的轻松与快感。</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-07.jpg" ></div>
      <div>书籍是人类进步的阶梯，它可以引导我们奋力前进，更进一步。
        多读好书，会使我们脱离庸俗，脱离无知，走到那里仿佛都有一种属于书的清香伴随着我们，书香弥漫。
        有文化底韵的人，都会给人一种清新的感觉，一种高贵的气质。书籍，它教导我们要脚踏实地，问心无愧地迈向成功。</div>
    </div>

    <div class="main-image">
      <div><img src="assets/img/book-08.jpg" ></div>
      <div>读一本意义方长的书，能加深我们的理解能力，让灵魂感到冲突。“读书百遍，其义自现”。每次读书，都能秒趣横生，并从中得到可贵的知识。</div>
    </div>


  </div>

