*{
  padding:0;
  margin: 0;
}
#nav{
  position: absolute;
  left:0;
  right:0;
  height: 52px;
  bottom: 0;
  background: #ffffff;
}
#nav>ul>li{
  height: 52px;
  list-style: none;
  float: left;
  width: 25%;
  line-height: 52px;
  text-align: center;
  color: #336699;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.clear-fix{
  content: '';
  clear: both;
  display: block;
}
#nav>ul>li.active {
  background: #336699;
  color: white;
  outline: none;
}

